<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1000, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/toggle.css')}}">

    <title>키패드</title>
</head>

<body>
    <div class="chart_app">
        <div class="box">
            <div class="left">
                <div class="ct_sensor">
                    <div class="table_box" style="height:270px">
                        <table style="display:block;width:490px;border-collapse:collapse">
                            <thead style="height:20%">
                                <tr>
                                    <th style="width:241px">ID</th>
                                    <th style="width:240px">전력(W)</th>
                                </tr>
                            </thead>
                            <tbody id="dynamicTbody" style="display:block;overflow-y:scroll;height:90%">

                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <label style="float:right;margin-right:10px;margin-top:5px; color:white">Power factor : 100%</label>
                </div><br><br><br>

                <div class="reload_button" style="margin-top:5px;margin-left:30px">
                    <button type="button" onclick="location.href='http://localhost:7070/chart'" class="btn btn-light"
                        id="btn_power01">현재값</button>
                    <button type="button" onclick="location.href='http://localhost:7070/graph'" class="btn btn-light"
                        id="btn_power02" style="margin-left:10px">그래프</button>
                    <button type="button" onclick="window.location.reload()" class="btn btn-light" id="btn_power03"
                        style="margin-left:10px">새로고침</button>
                    <button type="button" onclick="location.href='http://localhost:7070/setting'" class="btn btn-light"
                        id="btn_power04" style="margin-left:10px">설정</button>

                    <div class="toggle_btn_container" style="float:right; margin-left:20px">
                        <div class="toggle_btn_box">
                            <input class="toggle_input " id="toggle_btn" type="checkbox" />
                            <label class="toggle_label" for="toggle_btn">
                                <span class="txt1">해제</span>
                                <span class="txt2">절전</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div id="version">

                </div>
                <div class="logo_box">
                    <a href="/"><img src="{{ url_for('static',filename='images/ninewatt-logo-3d.gif') }}" alt=""></a>
                </div>
                <div class="input_content">
                    <div class="title_box">
                        <span class="txt">Time</span>
                        <span class="txt" id="timenow"></span>
                    </div>
                </div>

                <div class="monitor_content">
                    <div class="table_box">
                        <table>
                            <thead>
                                <tr>
                                    <th>프로세스</th>
                                    <th>동작여부</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>APP</td>
                                    <td id="app_process"></td>
                                </tr>
                                <tr>
                                    <td>WebServer</td>
                                    <td id="web_process"></td>
                                </tr>
                                <tr>
                                    <td>Manager</td>
                                    <td id="manager_process"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp</td>
                                    <td>&nbsp</td>
                                </tr>
                            </tbody>

                            <thead>
                                <tr>
                                    <th>리소스</th>
                                    <th>사용율(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CPU</td>
                                    <td id="cpu_usage"></td>
                                </tr>
                                <tr>
                                    <td>메모리</td>
                                    <td id="mem_usage"></td>
                                </tr>
                                <tr>
                                    <td>디스크</td>
                                    <td id="hdd_usage"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // get toggle_btn's true/false status
        var toggleBtn = document.querySelector('#toggle_btn');
        var interval_timer = 60000;
        var page_reload_timer=3600000;

        //====================== Function Call ============================================
        get_version();

        get_process();
        get_resource();
        get_realtime();
        get_timenow();

        setInterval(function () {
            get_process()
        }, interval_timer);


        setInterval(function () {
            get_resource()
        }, interval_timer);


        setInterval(function () {
            get_realtime();
        }, interval_timer);


        setInterval(function () {
            get_timenow();
        }, interval_timer);

        setInterval(function(){
            reload_page();
        },page_reload_timer);

        //=========================== Toggle Button ============================================
        // set toggle_btn's status according to raspberry pi's screen saver status
        $.ajax({
            type: 'GET',
            contentTypes: 'javascript/json; charset=utf-8',
            data: {},
            dataType: 'json',
            url: 'http://localhost:5000/xscreensaver',
            success: function (e) {
                if (e.xscreensaver_status == "on") {
                    toggleBtn.checked = true;
                }
                else if (e.xscreensaver_status == "off") {
                    toggleBtn.checked = false;
                }
            }
        })

        // toggle button's action
        toggleBtn.addEventListener('change', function () {
            if (toggleBtn.checked) {
                $.ajax({
                    type: 'GET',
                    contentTypes: 'javascript/json; charset=utf-8',
                    data: {},
                    dataType: 'json',
                    url: 'http://localhost:5000/xscreensaver/on',
                    success: function (e) {
                    }
                })
            } else {
                $.ajax({
                    type: 'GET',
                    contentTypes: 'javascript/json; charset=utf-8',
                    data: {},
                    dataType: 'json',
                    url: 'http://localhost:5000/xscreensaver/off',
                    success: function (e) {
                    }
                })
            }
        })

        //=========================== Function Definition =============================
        function get_version() {
            $.ajax({
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                url: 'http://localhost:5000/version',
                success: function (data) {
                    var html = '';
                    html += '<label style="float:right;margin-right:20px">ver ' + data['version'] + '</label>'
                    $("#version").prepend(html);
                }
            });
        }

        function get_process() {
            $.ajax({
                url: 'http://localhost:5000/process',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#app_process').innerHTML = data['ninewatt_app'];
                    document.querySelector('#manager_process').innerHTML = data['ninewatt_manager'];
                    document.querySelector('#web_process').innerHTML = data['ninewatt_web'];
                }
            });
        }

        function get_resource() {
            $.ajax({
                url: 'http://localhost:5000/resource',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#cpu_usage').innerHTML = data['cpu'];
                    document.querySelector('#mem_usage').innerHTML = data['mem'];
                    document.querySelector('#hdd_usage').innerHTML = data['hdd'];
                }
            });
        }

        function get_realtime() {
            $.ajax({
                url: 'http://localhost:5000/realtime',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    var html = '';
                    var raw_data = data['data'];

                    for (key in raw_data) {
                        html += '<tr style="margin-left:20px">';
                        html += '<td style="width:245px">ch_' + raw_data[key].point_id + '</td>';
                        html += '<td style="width:245px">' + raw_data[key].value + '</td>';
                        html += '</tr>';
                    }
                    $("#dynamicTbody").empty();
                    $("#dynamicTbody").append(html);
                }
            });
        }

        function get_timenow() {
            $.ajax({
                url: 'http://localhost:5000/timenow',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#timenow').innerHTML = data['time'];
                }
            });
        }

        function reload_page(){
            location.reload();
        }      
    </script>
</body>

</html>