<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1000, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>


    <title>키패드</title>
</head>
<body>

    <div class="chart_app">
        <div class="box">
            <div class="left">
                <div class="ct_sensor">
                    <div class="table_box">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Current</th>
                                </tr>
                            </thead>
                            <tbody id=dynamicTbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <button type="button" onclick="location.href='http://localhost:7070/chart/offline'" class="btn btn-light" id="btn_power01">현재값</button>
                    <button type="button" onclick="location.href='http://localhost:7070/graph/offline'" class="btn btn-light" id="btn_power02">그래프</button>
                </div>

            </div>
            <div class="right">
                <div class="logo_box">
                    <a href="/"><img src="{{ url_for('static',filename='images/ninewatt-logo-3d.gif') }}" alt=""></a>
                </div>
                <div class="input_content">
                    <div class="title_box">
                        <!-- <span class="icon"><i class="fas fa-bolt fa-lg"></i></span> -->
                        <span class="txt">Time</span>
                        <span class="txt" id="timenow"></span>
                    </div>
                </div>
                
                <div class="monitor_content">
                    <div class="table_box">
                        <table>
                            <thead>
                                <tr>
                                    <th>프로세스</th>
                                    <th>동작여부</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>APP</td>
                                    <td id="app_process"></td>
                                </tr>
                                <tr>
                                    <td>WebServer</td>
                                    <td id="web_process"></td>
                                </tr>
                                <tr>
                                    <td>Manager</td>
                                    <td id="manager_process"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp</td>
                                    <td>&nbsp</td>
                                </tr>
                            </tbody>
                            
                            <thead>
                                <tr>
                                    <th>리소스</th>
                                    <th>사용율(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CPU</td>
                                    <td id="cpu_usage"></td>
                                </tr>
                                <tr>
                                    <td>메모리</td>
                                    <td id="mem_usage"></td>
                                </tr>
                                <tr>
                                    <td>디스크</td>
                                    <td id="hdd_usage"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

<script>
    
    // $(function tableCreate(){

    //     var tc = new Array();
    //     var html = '';
                
    //     tc.push({name : '남궁민수', job : '기관사'}); 
    //     tc.push({name : '유재석', job : 'MC'}); 
    //     tc.push({name : '박명수', job : '개그맨'}); 
    //     tc.push({name : '정준하', job : '엔터테이너'}); 
    //     tc.push({name : '정형돈', job : '개그맨'});

    //     for(key in tc){
    //     html += '<tr>';
    //     html += '<td>'+tc[key].name+'</td>';
    //     html += '<td>'+tc[key].job+'</td>';
    //     html += '</tr>';
    //     }
                    
    //     $("#dynamicTbody").empty();
    //     $("#dynamicTbody").append(html);

    // });
    
    $.ajax({
        url: 'http://localhost:5000/process',
        type: 'GET',
        contentType:'javascript/json; charset=utf-8',
        data: {},
        dataType: 'json',
        success: function(data){
            document.querySelector('#app_process').innerHTML = data['ninewatt_app'];
            document.querySelector('#manager_process').innerHTML = data['ninewatt_manager'];
            document.querySelector('#web_process').innerHTML = data['ninewatt_web'];
        }
    });

    $.ajax({
        url: 'http://localhost:5000/resource',
        type: 'GET',
        contentType:'javascript/json; charset=utf-8',
        data: {},
        dataType: 'json',
        success: function(data){
            document.querySelector('#cpu_usage').innerHTML = data['cpu'];
            document.querySelector('#mem_usage').innerHTML = data['mem'];
            document.querySelector('#hdd_usage').innerHTML = data['hdd'];
        }
    });

    
    $.ajax({
        url: 'http://localhost:5000/realtime',
        type: 'GET',
        contentType:'javascript/json; charset=utf-8',
        data: {},
        dataType: 'json',
        success: function(data){
            var html = '';
            var raw_data = data['data'];

            for(key in raw_data)
            {
                html += '<tr>';
                html += '<td>'+raw_data[key].point_id+'</td>';
                html += '<td>'+raw_data[key].value+'</td>';
                html += '</tr>';
            }
            $("#dynamicTbody").empty();
            $("#dynamicTbody").append(html);
        }
    });

    
    $.ajax({
        url: 'http://localhost:5000/timenow',
        type: 'GET',
        contentType:'javascript/json; charset=utf-8',
        data: {},
        dataType: 'json',
        success: function(data){
            document.querySelector('#timenow').innerHTML = data['time'];
        }
    });

    //=================================================================

    setInterval(function(){
        $.ajax({
            url: 'http://localhost:5000/process',
            type: 'GET',
            contentType:'javascript/json; charset=utf-8',
            data: {},
            dataType: 'json',
            success: function(data){
                document.querySelector('#app_process').innerHTML = data['ninewatt_app'];
                document.querySelector('#manager_process').innerHTML = data['ninewatt_manager'];
                document.querySelector('#web_process').innerHTML = data['ninewatt_web'];
            }
        })
        }, 10000);

    setInterval(function(){
        $.ajax({
            url: 'http://localhost:5000/resource',
            type: 'GET',
            contentType:'javascript/json; charset=utf-8',
            data: {},
            dataType: 'json',
            success: function(data){
                document.querySelector('#cpu_usage').innerHTML = data['cpu'];
                document.querySelector('#mem_usage').innerHTML = data['mem'];
                document.querySelector('#hdd_usage').innerHTML = data['hdd'];
            }
        })
    }, 10000);

    setInterval(function(){
        $.ajax({
            url: 'http://localhost:5000/realtime',
            type: 'GET',
            contentType:'javascript/json; charset=utf-8',
            data: {},
            dataType: 'json',
            success: function(data){
                var html = '';
                var raw_data = data['data'];

                for(key in raw_data)
                {
                    html += '<tr>';
                    html += '<td>'+raw_data[key].point_id+'</td>';
                    html += '<td>'+raw_data[key].value+'</td>';
                    html += '</tr>';
                }
                $("#dynamicTbody").empty();
                $("#dynamicTbody").append(html);
            }
        })
    }, 10000);

    setInterval(function(){
        $.ajax({
            url: 'http://localhost:5000/timenow',
            type: 'GET',
            contentType:'javascript/json; charset=utf-8',
            data: {},
            dataType: 'json',
            success: function(data){
                document.querySelector('#timenow').innerHTML = data['time'];
            }
        })
    }, 10000);
    
</script>
</body>
</html>
