<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1000, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>


    <!-- Javascript of Chart -->
    <script src="{{ url_for('static', filename='js/chart.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chartjs-plugin-annotation.js')}}"></script>
    <!-- END Javascript of Chart -->

    <link rel="stylesheet" href="{{ url_for('static',filename='css/toggle.css')}}">

    <title>키패드</title>
</head>

<body>

    <div class="chart_app">
        <div class="box">
            <div class="left">
                <div>
                    <label style="color:white; margin-left:30px">장치 선택</label>
                    <select id="graph_select">

                    </select>
                </div>

                <div style="float:right; margin-top:5px">
                    <label style="color:white"><input type="checkbox" name="yesterday" checked> 어제</label>
                    <label style="margin-left:10px; margin-right:10px; color:white"><input type="checkbox" name="today"
                            checked>
                        오늘</label>
                </div>

                <div>
                    <canvas id="myChart" style="margin-top:40px"></canvas>
                    <div class="chart_btm">
                        <span>0시</span>
                        <span>6시</span>
                        <span class="time12">12시</span>
                        <span>18시</span>
                        <span>24시</span>
                    </div>
                </div>

                <div>
                    <label style="float:right; color:white">Power factor : 100%</label>
                </div><br><br>

                <div class="reload_button" style="margin-top:10px;margin-left:40px">
                    <button type="button" onclick="location.href='http://localhost:7070/chart'" class="btn btn-light"
                        id="btn_power01">현재값</button>
                    <button type="button" onclick="location.href='http://localhost:7070/graph'" class="btn btn-light"
                        id="btn_power02" style="margin-left:10px">그래프</button>
                    <button type="button" onclick="window.location.reload()" class="btn btn-light" id="btn_power03"
                        style="margin-left:10px">새로고침</button>

                    <div class="toggle_btn_container" style="float:right; margin-left:20px">
                        <div class="toggle_btn_box">
                            <input class="toggle_input " id="toggle_btn" type="checkbox" />
                            <label class="toggle_label" for="toggle_btn">
                                <span class="txt1">해제</span>
                                <span class="txt2">절전</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div id="version">

                </div>
                <div class="logo_box">
                    <a href="/"><img src="{{ url_for('static',filename='images/ninewatt-logo-3d.gif') }}" alt=""></a>
                </div>
                <div class="input_content">
                    <div class="title_box">
                        <span class="txt">Time</span>
                        <span class="txt" id="timenow"></span>
                    </div>
                </div>

                <div class="monitor_content">
                    <div class="table_box">
                        <table>
                            <thead>
                                <tr>
                                    <th>프로세스</th>
                                    <th>동작여부</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>APP</td>
                                    <td id="app_process"></td>
                                </tr>
                                <tr>
                                    <td>WebServer</td>
                                    <td id="web_process"></td>
                                </tr>
                                <tr>
                                    <td>Manager</td>
                                    <td id="manager_process"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp</td>
                                    <td>&nbsp</td>
                                </tr>
                            </tbody>

                            <thead>
                                <tr>
                                    <th>리소스</th>
                                    <th>사용율(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CPU</td>
                                    <td id="cpu_usage"></td>
                                </tr>
                                <tr>
                                    <td>메모리</td>
                                    <td id="mem_usage"></td>
                                </tr>
                                <tr>
                                    <td>디스크</td>
                                    <td id="hdd_usage"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //================================================================= Global Variations ============================================================
        var toggleBtn = document.querySelector('#toggle_btn');
        var hour = [];
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: '',
                    data: [],
                    borderColor: []
                },
                {
                    label: '',
                    data: [],
                    borderColor: []
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            display: false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "시간",
                            fontColor: "white"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "전력량(Wh)",
                            fontColor: "white"
                        }
                    }]
                }
            }
        })

        //============================================================ Function Call =============================================================
        get_version();

        hour_label();

        get_history(1);

        combo_box();

        get_process();
        get_resource();
        get_timenow();

        process_Interval(60);
        resource_Interval(2);
        timenow_Interval(60);
        graph_Interval(2);

        get_toggleBtn_status();

        //========================================================================= Toggle Button ============================================================================

        toggleBtn.addEventListener('change', function () {
            console.log(toggleBtn.checked)
            if (toggleBtn.checked) {
                console.log("True")

                $.ajax({
                    type: 'GET',
                    contentTypes: 'javascript/json; charset=utf-8',
                    data: {},
                    dataType: 'json',
                    url: 'http://localhost:5000/xscreensaver/on',
                    success: function (e) {
                        console.log("ON");
                    }
                })
            } else {
                console.log("FALSE")

                $.ajax({
                    type: 'GET',
                    contentTypes: 'javascript/json; charset=utf-8',
                    data: {},
                    dataType: 'json',
                    url: 'http://localhost:5000/xscreensaver/off',
                    success: function (e) {
                        console.log("OFF");
                    }
                })
            }
        })

        // ============================================== Event Listener ==========================================================
        // select box -> visible/invisible
        $(':checkbox[name="yesterday"]').change(function () {
            chart.data.datasets.find(function (ds) {
                if (ds.label == '어제')
                    ds.hidden = !ds.hidden;
            });
            chart.update();
        })
        $(':checkbox[name="today"]').change(function () {
            chart.data.datasets.find(function (ds) {
                if (ds.label == '오늘')
                    ds.hidden = !ds.hidden;
            });
            chart.update();
        })

        //콤보박스에서 장치 선택했을 때, 선택된 id 링크를 보여주는 부분
        $("#graph_select").change(function () {
            var select_value = this.value;
            get_history(select_value);
        });

        //============================================================= Function Definition =================================================================
        function get_version() {
            $.ajax({
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                url: 'http://localhost:5000/version',
                success: function (data) {
                    var html = '';
                    html += '<label style="float:right;margin-right:20px">ver ' + data['version'] + '</label>'
                    $("#version").prepend(html);
                }
            })
        }

        function get_toggleBtn_status() {
            $.ajax({
                type: 'GET',
                contentTypes: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                url: 'http://localhost:5000/xscreensaver',
                success: function (e) {

                    if (e.xscreensaver_status == "on") {
                        toggleBtn.checked = true;
                    }
                    else if (e.xscreensaver_status == "off") {
                        toggleBtn.checked = false;
                    }
                }
            })
        }

        function get_history(select_num) {
            // yesterday_data가 어제, today_data가 오늘
            var today_data = [];
            var yesterday_data = [];

            $.ajax({
                url: 'http://localhost:5000/graph/' + select_num + '/' + getToday(),
                type: 'GET',
                data: {},
                dataType: 'json'
            })
                .done(function (res) {
                    today_data = [];

                    // 라벨(시간)에 맞춰서 데이터 넣어주기
                    res.forEach(function (i) {
                        for (j = 0; j < hour.length; j++) {
                            if (i[1] == hour[j]) {
                                today_data[j] = i[2];
                            }
                        }
                    })

                    $.ajax({
                        url: 'http://localhost:5000/graph/' + select_num + '/' + getYesterday(),
                        type: 'GET',
                        data: {},
                        dataType: 'json',
                    })
                        .done(function (res) {
                            yesterday_data = [];

                            // 라벨(시간)에 맞춰서 데이터 넣어주기
                            res.forEach(function (i) {
                                for (j = 0; j < hour.length; j++) {
                                    if (i[1] == hour[j]) {
                                        yesterday_data[j] = i[2];
                                    }
                                }
                            })

                            addData(chart, hour, '오늘', today_data, '#00FFFF', '어제', yesterday_data, '#FFFF99');
                        })
                })
        }

        //차트에 필요한 데이터 적용(이틀)
        function addData(chart, hour, today_label, today_data, backgd, yesterday_label, yesterday_data, backgd_2) {
            chart.data.labels = hour;

            //오늘데이터
            chart.data.datasets[0].label = today_label;
            chart.data.datasets[0].data = today_data;
            chart.data.datasets[0].borderColor = backgd;
            chart.data.datasets[0].pointRadius = 0

            //어제데이터
            chart.data.datasets[1].label = yesterday_label;
            chart.data.datasets[1].data = yesterday_data;
            chart.data.datasets[1].borderColor = backgd_2;
            chart.data.datasets[1].pointRadius = 0

            chart.update();
        }

        function hour_label() {
            for (var i = 0; i <= 23; i += 1) {
                for (var v = 0; v <= 50; v += 15) {
                    if (i < 10) {
                        if (v < 10) {
                            hour.push(`0${i}:0${v}`)
                        } else {
                            hour.push(`0${i}:${v}`)
                        }
                    } else {
                        if (v < 10) {
                            hour.push(`${i}:0${v}`)
                        } else {
                            hour.push(`${i}:${v}`)
                        }
                    }
                }
            }
        }

        // select box's options -> ch_1, ch_2 ....
        function combo_box() {
            $.ajax({
                url: 'http://localhost:5000/modbusinfo',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    var html = '';
                    var raw_data = data['modbus_info'];

                    for (key in raw_data) {
                        html += '<option value="' + raw_data[key].point_id + '">' + 'ch_' + raw_data[key].point_id + '</option>';
                    }
                    $("#graph_select").append(html);
                }
            });
        }

        function get_process() {
            $.ajax({
                url: 'http://localhost:5000/process',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#app_process').innerHTML = data['ninewatt_app'];
                    document.querySelector('#manager_process').innerHTML = data['ninewatt_manager'];
                    document.querySelector('#web_process').innerHTML = data['ninewatt_web'];
                }
            });
        }

        function get_resource() {
            $.ajax({
                url: 'http://localhost:5000/resource',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#cpu_usage').innerHTML = data['cpu'];
                    document.querySelector('#mem_usage').innerHTML = data['mem'];
                    document.querySelector('#hdd_usage').innerHTML = data['hdd'];
                }
            });
        }

        function get_timenow() {
            $.ajax({
                url: 'http://localhost:5000/timenow',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#timenow').innerHTML = data['time'];
                }
            });
        }

        function process_Interval(time) {
            setInterval(function () {
                get_process()
            }, time * 1000);
        }

        function resource_Interval(time) {
            setInterval(function () {
                get_resource()
            }, time * 1000);
        }

        function timenow_Interval(time) {
            setInterval(function () {
                get_timenow()
            }, time * 1000);
        }

        function graph_Interval(time) {
            setInterval(function () {
                var select_value = $("#graph_select option:selected").val();
                get_history(select_value);
            }, time * 1000);
        }

        // get today date ex)201012
        function getToday() {
            var today = new Date();

            var year = today.getFullYear() % 100;
            var month = today.getMonth() + 1;
            var date = today.getDate();

            if (year < 10)
                year = '0' + year;
            if (month < 10)
                month = '0' + month;
            if (date < 10)
                date = '0' + date;

            year = String(year);
            month = String(month);
            date = String(date);

            return year + month + date;
        }

        // get yesterday date ex)201011
        function getYesterday() {
            var today = new Date();
            today.setTime(today.getTime() - 86400000);

            var year = today.getFullYear() % 100;
            var month = today.getMonth() + 1;
            var date = today.getDate();

            if (year < 10)
                year = '0' + year;
            if (month < 10)
                month = '0' + month;
            if (date < 10)
                date = '0' + date;

            year = String(year);
            month = String(month);
            date = String(date);

            return year + month + date;
        }    
    </script>
</body>

</html>