<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1000, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>


    <!-- Javascript of Chart -->
    <script src="{{ url_for('static', filename='js/chart.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chartjs-plugin-annotation.js')}}"></script>
    <!-- END Javascript of Chart -->

    <link rel="stylesheet" href="{{ url_for('static',filename='css/toggle.css')}}">

    <title>키패드</title>

    <style>
        .OnOff {
            margin: 0px;
            display: inline-block;
            font-size: 15px;
            font-weight: bold;
            color: white;
        }
    </style>
</head>

<body>

    <div class="chart_app">
        <div class="box">
            <div class="left">
                <div>
                    <label style="color:white; margin-left:30px">장치 선택</label>
                    <select id="graph_select">

                    </select>
                </div>
                
                <div style="float:right; margin-top:5px">
                    <label style="color:white"><input type="checkbox" name="yesterday" checked > 어제</label>
                    <label style="margin-left:10px; margin-right:10px; color:white"><input type="checkbox" name="today" checked>
                        오늘</label>
                </div>

                <div>
                    <!--style="height:75%"> -->
                    <canvas id="myChart" style="margin-top:40px"></canvas>
                    <div class="chart_btm">
                        <span>0시</span>
                        <span>6시</span>
                        <span class="time12">12시</span>
                        <span>18시</span>
                        <span>24시</span>
                    </div>
                </div>

                <div>
                    <label style="float:right; color:white">Power factor : 100%</label>
                </div>

                <div class="reload_button" style="float:left;margin-top:10px;margin-left:40px">
                    <button type="button" onclick="location.href='http://localhost:7070/chart'" class="btn btn-light"
                        id="btn_power01">현재값</button>
                    <button type="button" onclick="location.href='http://localhost:7070/graph'" class="btn btn-light"
                        id="btn_power02" style="margin-left:10px">그래프</button>
                    <button type="button" onclick="window.location.reload()" class="btn btn-light" id="btn_power03"
                        style="margin-left:10px">새로고침</button>

                    <label class="switch" style="margin-left:40px">
                        <input type="checkbox" name="screen_saver">
                        <span class="slider round"></span>
                    </label>
                    <p class="OnOff">절전OFF</p>
                    <p class="OnOff" style="display:none">절전ON</p>
                </div>

                
            </div>
            <div class="right">
                <div class="logo_box">
                    <a href="/"><img src="{{ url_for('static',filename='images/ninewatt-logo-3d.gif') }}" alt=""></a>
                </div>
                <div class="input_content">
                    <div class="title_box">
                        <!-- <span class="icon"><i class="fas fa-bolt fa-lg"></i></span> -->
                        <span class="txt">Time</span>
                        <span class="txt" id="timenow"></span>
                    </div>
                </div>

                <div class="monitor_content">
                    <div class="table_box">
                        <table>
                            <thead>
                                <tr>
                                    <th>프로세스</th>
                                    <th>동작여부</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>APP</td>
                                    <td id="app_process"></td>
                                </tr>
                                <tr>
                                    <td>WebServer</td>
                                    <td id="web_process"></td>
                                </tr>
                                <tr>
                                    <td>Manager</td>
                                    <td id="manager_process"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp</td>
                                    <td>&nbsp</td>
                                </tr>
                            </tbody>

                            <thead>
                                <tr>
                                    <th>리소스</th>
                                    <th>사용율(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CPU</td>
                                    <td id="cpu_usage"></td>
                                </tr>
                                <tr>
                                    <td>메모리</td>
                                    <td id="mem_usage"></td>
                                </tr>
                                <tr>
                                    <td>디스크</td>
                                    <td id="hdd_usage"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var check = $(':checkbox[name="screen_saver"]');

        $.ajax({
            type: 'GET',
            contentTypes: 'javascript/json; charset=utf-8',
            data:{},
            dataType: 'json',
            url: 'http://localhost:5000/xscreensaver',
            success:function(e){
                //console.log(e);
                //console.log(e.xscreensaver_status);

                if(e.xscreensaver_status == "on"){
                    //console.log("on...");
                    check.checked="checked";
                }
                else if(e.xscreensaver_status == "off"){
                    //console.log("off...");
                    check.checked="";
                }
            }
        });
        
        check.click(function () {
            $("p").toggle();

            if (check.is(":checked") == true) {
                //절전모드 on 일때
                $.ajax({
                    type: 'GET',
                    contentTypes: 'javascript/json; charset=utf-8',
                    data: {},
                    dataType: 'json',
                    url: 'http://localhost:5000/xscreensaver/on',
                    success: function (e) {
                        console.log("ON");
                    }
                })
            }
            else {
                // 절전모드 off 일때
                $.ajax({
                    type: 'GET',
                    contentTypes: 'javascript/json; charset=utf-8',
                    data: {},
                    dataType: 'json',
                    url: 'http://localhost:5000/xscreensaver/off',
                    success: function (e) {
                        console.log("OFF");
                    }
                })
            }
        });

        
        //========================그래프 관련 코드(시작)===============================//

        $.ajax({
            url: 'http://localhost:5000/modbusinfo',
            type: 'GET',
            contentType: 'javascript/json; charset=utf-8',
            data: {},
            dataType: 'json',
            success: function (data) {
                var html = '';
                var raw_data = data['modbus_info'];

                for (key in raw_data) {
                    html += '<option value="' + raw_data[key].point_id + '">' + 'ch_' + raw_data[key].point_id + '</option>';
                }
                $("#graph_select").append(html);
            }
        });
        // select box's options -> ch_1, ch_2 ....

        //----------------------------그래프 객체 생성(시작)----------------------------//
        var hour = [];
        var target = []; // current가 어제, target이 오늘
        var current = [];

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: '',
                    data: [],
                    borderColor: []
                },
                {
                    label: '',
                    data: [],
                    borderColor: []
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            display: false
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "시간",
                            fontColor: "white"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "전력량(Wh)",
                            fontColor: "white"
                        }
                    }]
                }
            }
        })
        //----------------------------그래프 객체 생성(끝)----------------------------//

        $(':checkbox[name="yesterday"]').change(function () {
            chart.data.datasets.find(function (ds) {
                if (ds.label == '어제')
                    ds.hidden = !ds.hidden;
            });
            chart.update();
        })
        $(':checkbox[name="today"]').change(function () {
            chart.data.datasets.find(function (ds) {
                if (ds.label == '오늘')
                    ds.hidden = !ds.hidden;
            });
            chart.update();
        })
        // select box -> visible/invisible

        get_history(1);

        function get_history(select_num) {
            $.ajax({
                url: 'http://localhost:5000/graph/' + select_num + '/' + getToday(),
                type: 'GET',
                data: {},
                dataType: 'json'
            })
                .done(function (res) {
                    hour = [];
                    target = [];

                    for (var i = 0; i <= 23; i += 1) {
                        for (var v = 0; v <= 50; v += 15) {
                            if (i < 10) {
                                if (v < 10) {
                                    hour.push(`0${i}:0${v}`)
                                } else {
                                    hour.push(`0${i}:${v}`)
                                }
                            } else {
                                if (v < 10) {
                                    hour.push(`${i}:0${v}`)
                                } else {
                                    hour.push(`${i}:${v}`)
                                }
                            }
                        }
                    }
                    //시간값 hour list에 넣어주기

                    res.forEach(function (i) {
                        for (j = 0; j < hour.length; j++) { // 라벨에 맞춰서 데이터 넣어주기 => 앞부분 건너뛴 경우 빈 부분은 공백으로 넣어서 인식은 못하지만 값이 존재하게
                            if (i[1] == hour[j]) {
                                for (k = 0; k < j; k++) {
                                    if (isEmpty(target[k])) {
                                        target[k] = "NULL";
                                    }
                                }
                                target[j] = i[2];
                            }
                        }
                        //target.push(i[2]);
                    })
                    //오늘 데이터 받음

                    $.ajax({
                        url: 'http://localhost:5000/graph/' + select_num + '/' + getYesterday(),
                        type: 'GET',
                        data: {},
                        dataType: 'json',
                    })
                        .done(function (res) {
                            current = [];

                            res.forEach(function (i) {
                                for (j = 0; j < hour.length; j++) { // 라벨에 맞춰서 데이터 넣어주기 => 앞부분 건너뛴 경우 빈 부분은 공백으로 넣어서 인식은 못하지만 값이 존재하게
                                    if (i[1] == hour[j]) {
                                        for (k = 0; k < j; k++) {
                                            if (isEmpty(current[k])) {
                                                current[k] = "NULL";
                                            }
                                        }
                                        current[j] = i[2];
                                    }
                                }
                                //current.push(i[2]);
                            })

                            addData3(chart, hour, '오늘', target, '#00FFFF', '어제', current, '#FFFF99');
                        })
                    //어제 데이터까지 받아서 차트에 적용
                })
        }
        //어제오늘 데이터 차트에 추가

        function addData3(chart, hour, today, target, backgd, yesterday, current, backgd_2) {
            chart.data.labels = hour;

            chart.data.datasets[0].label = today;
            chart.data.datasets[0].data = target;
            chart.data.datasets[0].borderColor = backgd;
            chart.data.datasets[0].pointRadius = 0
            //오늘데이터

            chart.data.datasets[1].label = yesterday;
            chart.data.datasets[1].data = current;
            chart.data.datasets[1].borderColor = backgd_2;
            chart.data.datasets[1].pointRadius = 0
            //어제데이터

            chart.update();
        }
        //차트에 필요한 데이터 적용(이틀)

        $("#graph_select").change(function () {
            //var select_value = $("#graph_select option:selected").val();
            var select_value = this.value;
            get_history(select_value);
        });
        //콤보박스에서 장치 선택했을 때, 선택된 id 링크를 보여주는 부분

        setInterval(function () {
            var select_value = $("#graph_select option:selected").val();
            get_history(select_value);
        }, 60000)
        //일정 시간마다 그래프 불러와서 띄워줌

        //========================그래프 관련 코드(끝)===============================//

        $.ajax({
            url: 'http://localhost:5000/process',
            type: 'GET',
            contentType: 'javascript/json; charset=utf-8',
            data: {},
            dataType: 'json',
            success: function (data) {
                document.querySelector('#app_process').innerHTML = data['ninewatt_app'];
                document.querySelector('#manager_process').innerHTML = data['ninewatt_manager'];
                document.querySelector('#web_process').innerHTML = data['ninewatt_web'];
            }
        });

        $.ajax({
            url: 'http://localhost:5000/resource',
            type: 'GET',
            contentType: 'javascript/json; charset=utf-8',
            data: {},
            dataType: 'json',
            success: function (data) {
                document.querySelector('#cpu_usage').innerHTML = data['cpu'];
                document.querySelector('#mem_usage').innerHTML = data['mem'];
                document.querySelector('#hdd_usage').innerHTML = data['hdd'];
            }
        });

        $.ajax({
            url: 'http://localhost:5000/timenow',
            type: 'GET',
            contentType: 'javascript/json; charset=utf-8',
            data: {},
            dataType: 'json',
            success: function (data) {
                document.querySelector('#timenow').innerHTML = data['time'];
            }
        });

        //=================================================================

        setInterval(function () {
            $.ajax({
                url: 'http://localhost:5000/process',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#app_process').innerHTML = data['ninewatt_app'];
                    document.querySelector('#manager_process').innerHTML = data['ninewatt_manager'];
                    document.querySelector('#web_process').innerHTML = data['ninewatt_web'];
                }
            })
        }, 60000);

        setInterval(function () {
            $.ajax({
                url: 'http://localhost:5000/resource',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#cpu_usage').innerHTML = data['cpu'];
                    document.querySelector('#mem_usage').innerHTML = data['mem'];
                    document.querySelector('#hdd_usage').innerHTML = data['hdd'];
                }
            })
        }, 60000);

        setInterval(function () {
            $.ajax({
                url: 'http://localhost:5000/timenow',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#timenow').innerHTML = data['time'];
                }
            })
        }, 60000);

        function getToday() {
            var today = new Date();

            var year = today.getFullYear() % 100;
            var month = today.getMonth() + 1;
            var date = today.getDate();

            if (year < 10)
                year = '0' + year;
            if (month < 10)
                month = '0' + month;
            if (date < 10)
                date = '0' + date;

            year = String(year);
            month = String(month);
            date = String(date);

            return year + month + date;
        }

        function getYesterday() {
            var today = new Date();
            today.setTime(today.getTime() - 86400000);

            var year = today.getFullYear() % 100;
            var month = today.getMonth() + 1;
            var date = today.getDate();

            if (year < 10)
                year = '0' + year;
            if (month < 10)
                month = '0' + month;
            if (date < 10)
                date = '0' + date;

            year = String(year);
            month = String(month);
            date = String(date);

            return year + month + date;
        }

        var isEmpty = function (value) {
            if (value === "" || value == null || value == undefined || (value != null && typeof value == "object" && !Object.keys(value).length)) {
                return true;
            }
            else {
                return false;
            }
        }// target/current list에 문자열 데이터, null, undefined, 비어있는 객체는 비어있다고 판단 => 숫자 0은 비어있는 것이 아님        

    </script>
</body>

</html>