<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Referece: https://qkrrudtjr954.github.io/jquery/2018/01/29/jquery-dynamic-table.html -->

    <style>
        .container::-webkit-scrollbar{
            width:40px;
            background-color:white;
        }
        .container::-webkit-scrollbar-thumb{
            border-radius:40px;
            background-color:grey;
            box-shadow:inset 0px 0px 10px white;
        }
    </style>
</head>

<body class="container">
    <!-- 동적 테이블 -->
    <table id="list_table" class="table">
        <colgroup>
            <!-- column 의 설정을 할수 있다. -->
            <col style="width:70px;">
            <col style="width:200px;">
            <col style="width:300px;">
            <col style="width:200px;">
        </colgroup>

        <thead class="thead-dark">
            <tr>
                <th>point_id</th>
                <th>name</th>
                <th>slave</th>
                <th>funtion_code</th>
                <th>map_address</th>
                <th>unit</th>
                <th>del</th>
            </tr>
        </thead>

        <tbody id=dynamicTbody>
        </tbody>
    </table>

    <script>
        $.ajax({
            url: 'http://localhost:5000/modbusinfo',
            type: 'GET',
            contentType: 'javascript/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                var html = '';
                var raw_data = data['modbus_info'];

                for (key in raw_data) {
                    html += '<tr>';
                    html += '<td id="req_point_id">' + raw_data[key].point_id + '</td>';

                    if (raw_data[key].point_id < 10)
                        html += '<td>' + 'ch0' + raw_data[key].point_id + '</td>';
                    else
                        html += '<td>' + 'ch' + raw_data[key].point_id + '</td>';

                    html += '<td>' + raw_data[key].slave + '</td>';
                    html += '<td>' + raw_data[key].function_code + '</td>';
                    html += '<td>' + raw_data[key].map_address + '</td>';
                    html += '<td>' + raw_data[key].unit + '</td>';
                    //html += '<td><a href="http://localhost:5000/modbus/delete/' + raw_data[key].point_id + '" class="delete-link">Delete</a></td>';
                    html += '<td><a href="#" onclick="modbusdel(' + raw_data[key].point_id + ')" class="delete-link">Delete</a></td>';

                    html += '</tr>';
                }
                $("#dynamicTbody").empty();
                $("#dynamicTbody").append(html);
            }
        });
    </script>

    <h3>추가 입력 테이블</h3>

    <table id="append_table" class="table">
        <colgroup>
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:20%">
        </colgroup>

        <thead class="thead-light">
            <tr>
                <th>Slave</th>
                <th>Function_code</th>
                <th>Map_address</th>
                <th>Unit</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><input type="text" id="slave" style="width:130px"></td>
                <td><input type="text" id="function_code" style="width:130px"></td>
                <td><input type="text" id="map_address" style="width:130px"></td>
                <td><input type="text" id="unit" style="width:130px"></td>
                <td><button type="button" id="append_row">데이터 추가</button></td>
            </tr>
            <tr>
                <td>APP</td>
                <td id="app_process"></td>
            </tr>
            <tr>
                <td>WebServer</td>
                <td id="web_process"></td>
            </tr>
            <tr>
                <td>Manager</td>
                <td id="manager_process"></td>
            </tr>
        </tbody>
    </table>

    <div>
        <button type="button" id="manager_start">manager ON</button>
        <button type="button" id="manager_stop">manager OFF</button>
        <button type="button" id="manager_status">Status</button>
        <button type="button" onclick="location.href='http://localhost:7070/chart'" style="float:right;margin-right:20px">현재값</button>
    </div>

    <script type="text/javascript">
        function refreshMemList() {
            location.reload();
        }

        function modbusdel(point_id) {
            $.ajax({
                url: 'http://localhost:5000/modbus/delete',
                dataType: 'json',
                type: 'POST',
                data: { point_id: point_id },
                success: function (result) {
                    refreshMemList();
                }
            })
        }

        $('#append_row').on("click", function () {
            $.ajax({
                url: 'http://localhost:5000/modbus/new',
                dataType: 'json',
                type: 'POST',
                data: { slave: $('#slave').val(), function_code: $('#function_code').val(), map_address: $('#map_address').val(), unit: $('#unit').val() },

                success: function (result) {
                    refreshMemList();
                }
            })
        });

        $('#manager_start').on("click", function () {
            $.ajax({
                url: 'http://localhost:5000/process/start',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: {}
            })
        });

        $('#manager_stop').on("click", function () {
            $.ajax({
                url: 'http://localhost:5000/process/stop',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: {}
            })
        });

        $('#manager_status').on("click", function () {
            $.ajax({
                url: 'http://localhost:5000/process',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#app_process').innerHTML = data['ninewatt_app'];
                    document.querySelector('#manager_process').innerHTML = data['ninewatt_manager'];
                    document.querySelector('#web_process').innerHTML = data['ninewatt_web'];
                }
            })
        });
    </script>
    <br><br><br>

</body>

</html>